/* #f0fcfb #45ada8 #547980*/
body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.container {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px auto 70px;
    grid-template-areas:
            "h h h  "
            "ml cc mr "
            "f f f ";
}
/* headerio formatavimas*/
.header {
    font-size: 2em;
    display: grid;
    grid-area: h;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: 100px;
    grid-template-areas: "a b c";
    background-color: #f0fcfb;
}
.header > div {
    width: 100%;
}
.header img {
    height: 80px;
}
.logo{
    grid-area: a;
    text-align: center;
    align-self: center;
    padding-left: 20px;
}
.navigation {
    grid-area: b;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
.login {
    grid-area: c;
    align-self: center;
    text-align: center;
   }
.header a{
    color: #45ada8;
    padding-right: 80px;
    border-right: 3px solid #45ada8;
}
.header a:hover{
    color: #547980;
}
.header a:last-child {
    border-right:none;
}
/* soninio meniu formatavimas*/
.menu1 {
    grid-area: ml;

}
.skillProgress {
    width: 100%;
    height: 20px;
    background-color: #c8e6e4;
    border-radius: 10px;
}
.skill {
    padding: 10px 20px;
}


/*antro soninio meniu redagavimas*/
.menu2 {
    grid-area: mr;
    padding: 2em;
}

.menu2 img {
    height: 150px;
   }
.menu2 h2{
    padding-bottom: 1.2em;
    text-align: center;
    color: #547980;
    border-bottom: 3px solid #547980;
 }
.job{
    padding: 10px;
    margin-bottom: 10px;
}
.job:hover{
    background-color: #f0fcfb;
    border-radius: 10px;
}
/* straipsniu koregavimas*/
.content {
    grid-area: cc;
    font-size: 1.5em;
}
.content img{
    height:300px;
    padding: 10px 30px 20px 0;

}
.paragraf p img{
    float: left;
}
.paragraf h1{
    text-align: center;
    /*text-decoration: underline;*/
    color: #547980;
}
.paragraf p{
    padding: 20px 0;
}
/*footerio formatavimas*/
.footer {
    font-size: 1.2em;
    color: #547980;
    grid-area: f;
    background-color: #f0fcfb;
    display: grid;
    grid-template-areas: "d e";
}
.rights {
grid-area: d;
    align-self: center;
    padding-left: 2em;
}
.other {
grid-area: e;
    align-self: center;
    justify-self: end;
    padding-right: 2em;
}
/*pritaikymas kitom rezoliucijom*/
/*@media screan_add(max-width 500px) {*/
/*    .container {*/
/*        font-family: "Times New Roman", Times, serif;*/
/*        width: 100%;*/
/*        margin:0;*/
/*        padding: 0 30px;*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 3fr 1fr;*/
/*        grid-template-rows: 100px auto 100px;*/
/*        grid-template-areas:*/
/*                "h h h  "*/
/*                "ml cc mr "*/
/*                "f f f ";*/
/*    }*/
/*}*/
/********************************************************/
/*                    PORTFOLIO                       */
/********************************************************/
/*.container1 {*/
/*    font-family: "Times New Roman", Times, serif;*/
/*    width: 100%;*/
/*    margin:0;*/
/*    padding: 0;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 3fr 1fr;*/
/*    grid-template-rows: 100px 100px auto 50px 70px;*/
/*    grid-template-areas:*/
/*            "h h h  "*/
/*            "sn sn sn "*/
/*            " pp pp pp"*/
/*            "np np np"*/
/*            "f f f ";*/
/*}*/
/*.skillNavigation{*/
/*    grid-area: sn;*/
/*}*/
/*.project{*/
/*    grid-area: pp;*/
/*}*/
/*.navPage{*/
/*    grid-area: np;*/
/*}*/
/*----------------------------------------------------*/
/*                         PORTFOLIO     /* #f0fcfb #45ada8 #547980*/
.container1 {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 70px auto 50px 70px;
    grid-template-areas:
            "h h h  "
            "sn sn sn"
            "cc cc cc "
            "np np np"
            "f f f ";
}
.project {
    grid-area: cc;

}
.skillNavigation{
    grid-area: sn;
    background-color: #547980;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    padding: 25px 0;
}
.navPage{
    grid-area: np;
    display: flex;
    justify-content: center;
    align-self: center;
}
.skillNavigation a{
    font-size: 20px;
    font-weight: bold;
    color: #f0fcfb;
   }
.skillNavigation a:hover{
    color: #45ada8;
}
/*                pagination                 */
.pagination {
    display: inline-block;
}

.pagination a {
    color: #547980;
    font-weight: bold;
     float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #f0fcfb;
}

.pagination a.active {
    background-color: #45ada8;
    color: white;
    border: 1px solid #547980;
}

.pagination a:hover:not(.active) {background-color: #c8e6e4;}
.project img{
    padding: 10px;
    height: 250px;
}
.project{
    text-align: center;
    margin: 20px 40px;
}
/*-----------------------------------------------------*/
/*                           KONTAKTAI                */
.container2 {
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    margin:0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 100px 500px auto 70px;
    grid-template-areas:
            "h h h  "
            "m m m"
            "cf cf cf "
            "f f f ";
}
.contactMap{
    grid-area: m;
    background-color: #45ada8;
}
.contactMap img{
    height: 500px;
    display: flex;
    justify-items: center;
}
.contactForm{
    grid-area: cf;
    padding: 20px 29%;

}
.mygtukas{
padding: 5px 80px;
    border-radius: 10px;
    border: #547980;
    font-size: 20px;
    FONT-WEIGHT: bold;
    background-color: #45ada8;
    color: white;
}
.contactForm label{
    font-size: 20px;
    color: #547980;
}
.contactForm #vardas{
    margin-left: 30px;
}
.contactForm #pastas{
    margin-left: 15px;
}
.mygtukas1{
    text-align: center;
}